.activate-border {
    border: 4px solid !important;
    border-color: #4472c4 !important;
    border-radius: 4px !important;
}

.properties-border {
    border: 4px solid !important;
    border-color: #5dba7a !important;
    border-radius: 4px !important;
}

.EditInventory-border {
    border: 4px solid !important;
    border-color: #ffb600 !important;
    border-radius: 4px !important;
}

.DupInventory-border {
    border: 4px solid !important;
    border-radius: 4px !important;
    border-color: #04a1cb !important
}

.btn.new-campaign {
    border: 4px solid !important;
    border-radius: 4px !important;
    border-color: #187BF8 !important;
}

.headline-border {
    border: 4px solid !important;
    border-color: #63C786 !important;
    text-align: center !important;
}

#Box {
    position: absolute;
    z-index: 4000;
    width: 200px !important;
    height: 50px !important;
    margin-top: -80px !important;
    font-size: 14px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-align: left;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #63C786;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}
