.campaignItem {
    border: 3px solid !important;
    border-color: #63C786 !important;
}
.imageBox {
    position: absolute;
    width: 800px !important;
    height: 320px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    text-align: center;
    background-color: white;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    margin-top: 25px;
    border-color: #63C786 !important;
    border: 3px solid;
}

#demoImg {
    width: 800px;
    height: 300px;
}

#demoLink {
  font-size: 14px;
  font-family: "Helvetica Neue";
  text-align: center;
  font-weight: bold;
}
